[submodule "slide-opensource"]
	path = slide-opensource
	url = git@github.com:kecebongsoft/slide-opensource.git
[submodule "pelican/pelican-themes"]
	path = pelican/pelican-themes
	url = git@github.com:kecebongsoft/pelican-themes.git
