BeautifulSoup==3.2.1
Jinja2==2.6
Markdown==2.1.1
Pygments==1.5
argparse==1.2.1
docutils==0.9
feedgenerator==1.2.1
-e git://github.com/getpelican/pelican.git#egg=pelican
pycrypto==2.6
pypandoc==0.5.0
pytz==2012c
ssh==1.7.14
wsgiref==0.1.2
